<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

		<!-- 加载配置文件 -->
		<context:property-placeholder location="classpath:db.properties" />
		
		<!-- 数据源 -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
			<property name="driverClassName" value="${jdbc.driver}"></property>
			<property name="url" value="${jdbc.url}"></property>
			<property name="username" value="${jdbc.username}"></property>
			<property name="password" value="${jdbc.password}"></property>
			<property name="maxActive" value="10"></property>
			<property name="maxIdle" value="5"></property>
		</bean>
		
		<!-- 声明 SqlSessionFactory（使用spring来管理SqlSessionFactory单例） -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="configLocation" value="mybatis/SqlMapConfig.xml"></property>
			<property name="dataSource" ref="dataSource"></property>
		</bean>


		<!-- spring整合mybatis使用原始方式进行dao层开发 -->
		<!-- 配置userDao，注入sqlSessionFactory属性 -->
		<bean id="userDao" class="com.weicheng.spring.dao.UserDaoImpl">
			<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		</bean>
		
		
		<!-- spring整合mybatis使用mapper方式进行dao层开发 -->
		<!-- 单个mapper文件声明 -->
		<!--
		<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
			<property name="mapperInterface" value="com.weicheng.spring.mapper.UserMapper"></property>
			<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		</bean>
		 -->
		 
		
		<!-- spring整合mybatis使用mapper方式进行dao层开发 -->
		<!-- 
		批量扫描mapper.java 
		需要将mapper.java和mapper.xml名称保持一致且在一个目录中，扫描出来的mapper为其类名（首字母小写）
		-->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<!-- 如果扫描多个包，每个包中间用半角逗号隔开 -->
			<property name="basePackage" value="com.weicheng.spring.mapper"></property>
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		</bean>
		
		

</beans>




